{{ if and (has "linux" ((index .chezmoi "tags") | default (list))) (eq .chezmoi.os "linux") }}general {
        output_format = "i3bar"
        colors = true
        interval = 5
}

order += "ethernet eth0"
order += "cpu_temperature 0"
order += "load"
order += "tztime san-francisco"
order += "tztime local"

ethernet eth0 {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S %Z"
}

tztime san-francisco {
        format = "%Y-%m-%d %H:%M:%S %Z"
        timezone = "America/Los_Angeles"
}

load {
        format = "%5min"
}

cpu_temperature 0 {
        format = "T: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/temp1_input"
}
{{ end }}