"*":
  "exception-reporting":
    userId: "676808b3-0da8-c715-45c3-bb6517b838f8"
  welcome:
    showOnStartup: false
  metrics:
    userId: "bfb7723da570e64048ab058823e1c653e23b42c2"
  core:
    disabledPackages: [
      "jshint"
      "test-status"
      "linter-puppet"
      "linter-jshint"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    showIndentGuide: true
    useShadowDOM: true
    invisibles: {}
    fontSize: 16
  linter:
    subtleLinterErrors: [
      "flake8"
      "jshint"
    ]
  react: {}
  autosave:
    enabled: true
  "atom-terminal-panel": {}
  "autocomplete-plus":
    fileBlacklist: [
      "*.tex"
    ]
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.latex"
      "text.tex.latex"
    ]
  build: {}
  "atom-ternjs": {}
  "linter-puppet-lint": {}
  "linter-flake8":
    binaryName: "/Users/rolf/.local/bin/flake8"
    maxLineLength: 100
".markdown":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    preferredLineLength: 80
    fontSize: 24
".latex":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    preferredLineLength: 80
    fontSize: 28
